/** 自定义样式 **/
// 列表页面
.table-tool {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .filter-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 0 10px 0;
        padding: 0;
    }
    li {
        display: flex;
        align-items: center;
        margin: 10px 20px 0 0;
        label {
            font-weight: 400;
            font-size: 14px;
            white-space: nowrap;
        }
        label::after {
            content: "：";
        }
    }
}
.el-table .el-table__fixed-header-wrapper .el-table__header thead th,
.el-table .el-table__header-wrapper .el-table__header thead th {
    // height: 50px;
    // padding: 0;
    background: rgba(0, 132, 255, 0.1);
}
.el-date-editor .el-range-separator {
    width: 8%;
}

// 编辑页
.el-select {
    width: 100% !important;
}
.el-date-editor {
    width: 100% !important;
}
.page-main {
    margin-bottom: 60px !important;
}

// 详情页
.form-show,
.form-edit {
    .el-form-item {
        .el-form-item__label {
            font-weight: bold;
        }
        .el-form-item__label::after {
            content: "：";
        }
    }
}
